
<h1>Create New App</h1>
<form action="#" method="post">
    {{ form_widget(form) }}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{{ "Create"|trans }}</button>
    <button class="btn close-dialog">Cancel</button>
  </div>
</form>

