{% extends 'layout.html.twig' %}
{% block title %}{{ "Your Apps"|trans }}{{ parent() }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span3">
      <div class="well sidebar-nav">
        <a href="#" class="btn btn-success">{{ "Create Your First App"|trans }} &raquo;</a>
      </div><!--/.well -->
    </div>


    <div class="span9">
       <div class="row">
            <div class="span5">
                <h1>Your Apps</h1>
            </div>
        </div>

        <hr />

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ipsum non velit eleifend hendrerit. Nunc ac magna metus. Vestibulum nec ipsum justo, id gravida nisl. Sed placerat interdum nunc, ac tempor ligula iaculis nec. Curabitur sapien eros, lacinia eget tincidunt at, fringilla non lectus. Praesent mauris nulla, pulvinar eget varius malesuada, consectetur a ipsum. Nulla nec massa id dui egestas consectetur. Suspendisse interdum mollis pulvinar. Morbi molestie, augue id sodales ornare, ligula justo sodales purus, sit amet faucibus diam metus a leo.</p>
    </div>
</div>
{% endblock %}

