<h1>Create New App</h1>
<form action="#" method="post">
    {{ form_widget(form) }}
     {#<span id="check-result"></span>#}
  <div class="form-actions">
    <button id="btn-submit" type="submit" class="btn">{{ "Create"|trans }}</button>
    <button class="btn close-dialog">Cancel</button>
  </div>
</form>
{#
<script type="text/javascript">
    $(function() {
      $('#app_name_name').keyup(function () {
        var t = this;
        if (this.value != this.lastValue) {
          if (this.timer) clearTimeout(this.timer);

          $('#check-result').addClass('loading');

          /*$('#check_name').removeClass('error').html('<img src="images/ajax-loader.gif" height="16" width="16" /> checking availability...');*/

          this.timer = setTimeout(function () {
            $.ajax({
              url: "{{ path('api_app', {'_format': 'json'}) }}?",
              data: 'name=' + t.value,
              dataType: 'json',
              type: 'get',
              success: function (data) {
                $('#check-result').removeClass('loading');
                console.log(data);
                if (data.id == undefined) {
                    $('#check-result').addClass('success');
                    $('#btn-submit')
                        .addClass('btn-primary')
                        .removeClass('disabled')
                        .attr('disabled', null);
                } else {
                    $('#check-result').addClass('error').html("{{ '' }}");
                    $('#btn-submit')
                        .removeClass('btn-primary')
                        .addClass('disabled')
                        .attr('disabled', 'disabled');
                }

                //$('#check_name').html(j.msg);
              }
            });
          }, 200);

          this.lastValue = this.value;
        }
      });

    });
</script>#}